button, input, select, textarea, img, a {
    outline: none;
    box-shadow: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

img {
    pointer-events: none;
}

/* تصميم الجسم */
body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#MessagesPage, #faqPage, #mainPage {
    padding-top: 50px;
    padding-bottom: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    background-clip: padding-box;
    position: relative;
}

.screen-content {
    flex: 1;
    display: none;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background: var(--background-color);
    border-radius: 20px;
}

.screen-content.active {
    display: block;
    opacity: 1;
}
 
/* تصميم الحاوية الأساسية */
.container {
    box-sizing: border-box;
    text-align: center;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    background-color: #101010;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* تصميم خيارات النوع */
.option-group {
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.option input {
    appearance: none;
    width: 7px;
    height: 7px;
    border: 2px solid #808080;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option input:checked {
    background-color: #2D83EC;
    border-color: #2D83EC;
}

.mess {  
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    color: #fff;
    text-align: left;
}  

textarea, input, #submitButton {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid transparent;
    font-size: 15px;
    background-color: #1c1c1c;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

#userId, #username {
    color: #808080;
    font-size: 14px;
} 

textarea:focus, input:focus {
    border-color: #808080;
}

textarea {
    height: 100px;
    resize: none;
}

 #submitButton {
    background-color: #2D83EC;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

 #submitButton:hover {
    background-color: #1E2337;
}

/* تصميم العناوين */
h2 {
    margin-bottom: 20px;
    color: #2D83EC;
}

p {
    text-align: left;
    margin-bottom: 10px;
}

 
.faq-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

.faq-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #2D83EC;
    text-align: center;
}

/* تصميم قائمة الأسئلة */
.faq-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.faq-container li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #101010;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.faq-container li:hover {
    background-color: #202020;
    color: #FFFFFF;
}

/* تصميم السؤال */
.faq-container li .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-container li .question span {
    font-size: 16px;
    font-weight: bold;
}

/* تصميم زر الزائد/الناقص */
.faq-container li .toggle-btn {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.faq-container li .toggle-btn:hover {
    transform: scale(1.2);
    color: #2D83EC;
}

/* تصميم الإجابة */
.faq-container li .answer {
    display: none;
    font-size: 14px;
    color: #BBBBBB;
    margin-top: 10px;
    padding-left: 15px;
    border-left: 3px solid #2D83EC;
    transition: opacity 0.3s ease;
}

/* تأثير الفوكس على الحاوية */
textarea:focus, input:focus, #submitButton:focus {
    outline: none;
    border-color: #2D83EC;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    position: absolute;
    /*position: fixed;*/
    bottom: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #101010;
    border-top: 1px solid #1c1c1c;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 10px auto; 
    border-radius: 20px;
    width: 80%;
    z-index: 100;
}
 
.menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}

.menu-item {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px auto;
    transition: all 0.3s ease;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item i {
    font-size: 1.5rem;
    color: #808080;
    transition: color 0.3s ease;
}

.menu-item.active .icon-wrapper {
    background-color: #2D83EC;
    box-shadow: 0 0 2px rgba(45, 131, 236, 0.7), 
                inset 0 0 2px rgba(255, 255, 255, 0.5), 
                inset 0 0 3px rgba(45, 131, 236, 0.8); /* تأثير الإضاءة الداخلية */
    position: relative;
    transform: scale(1.1); /* تكبير بسيط للدائرة لإبراز التأثير */
}

.menu-item.active i {
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 
                 0 -1px 2px rgba(255, 255, 255, 0.5); /* تأثير الظلال للأيقونة */
}

.menu button:hover::before {
    opacity: 1;  /* جعل الخط مرئي عند التمرير أو عندما يكون الزر نشطًا */
} 

.menu-item.active i {
    color: #fff;
}


.Messages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
} 

.Messages-container i {
    margin: 5px auto;
    font-size: 7rem;
    color: #808080;
    transition: color 0.3s ease;
} 

.Messages-container p {  
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #808080;
    text-align: center;
} 

 .note {
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-left: 3px solid #2D83EC;
    border-radius: 25px;
    padding: 10px;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note i {
    font-size: 20px;
    color: #808080;
    margin-right: 10px;
}

.styled-link {
    color: #2D83EC; /* لون مميز للرابط */
    text-decoration: none; /* إزالة الخط السفلي الافتراضي */
    font-weight: bold; /* لجعل النص بارزًا */
    transition: color 0.3s, text-shadow 0.3s; /* إضافة تأثير عند التمرير */
}

.styled-link:hover {
    color: #1E2337; /* لون مختلف عند التمرير */
    text-shadow: 0 0 5px #808080; /* تأثير توهج خفيف */
    text-decoration: underline; /* إضافة خط عند التمرير */
}
 
